<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Classifieds Scraper</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>