<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Classifieds Scraper</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<body style="margin:0 10%;">
	{{{ body }}}
</body>

<script>
	$( document ).ready(() => {

  $(document).on("click", "#scrapeButton", (event) => {
    event.preventDefault();
    $.get("/api/scrape").then(() => {
			 /*$.getJSON("/api/articles", (data) => {
				 console.log(data);
      });*/
    });
      
    });
  });
</script>

</html>