

<div style="text-align:center;" class="jumbotron">
  <h1>Classifieds Scraper</h1>
  <button id="scrapeButton" class="btn btn-primary">Scrape</button>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Posts</h4>
  </div>
  <div class="panel-body"></div>
</div>